/*
* @Author: taohong
* @Date:   2017-11-08 00:29:55
* @Last Modified by:   taohong
* @Last Modified time: 2017-11-08 00:35:08
*/
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}